.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  color: #4eacc5;
  text-decoration: underline;
  display: flex;
  justify-content: center;
}

.cursor:hover {
  cursor: pointer;
}

.seperator {
  width: 70%;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}
